body {
    background-color: #0F3850;
}

.App {
  max-width: 950px;
}

.App h1 {
    color: #4a7d95;
    font-family: Playfair Display, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 65px;
    text-align: center;
}
.App footer {
  color: #fff;
  font-size: small;
  margin: 20px 0px;
  text-align: center;
  
}

.App a {
  color: #6faef1;
}

.App img {
  max-width: 80px;
  display: block;
  margin: 0px auto;
  padding-top: 20px;
}

