.App {
  background-color: #deebef;
  padding: 50px 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.App footer {
  padding: 15px 0px;
  font-size: small;
  
}

.App a {
  color: #0751a1;
}

